.icons img{
    max-width: 100%;
    border: 6px solid #E6E6E6;
}

.sideBar img{
    width: 105px;
    height: 105px;
}
.d-flex{
    margin-top: 10px;
    margin-bottom: 10px;
}
.d-flex img{
    margin-right: 10px;
}
.row{
    padding: 0;
    margin: 0;
}
/*.btnCenter{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    gap: 40px;*/
/*}*/
@media (max-width: 992px) {
    .sideBar{
        display: none;
    }
    .lastBox {
        display: none;
    }

}
@media (max-width: 576px){
    hr{
        display: none;
    }
}
@media screen and (min-width: 1400px){
    #sHeader{
        margin-top: 20px;
        margin-bottom: 27px;
    }
}
